<?xml version="1.0"?>
<DataBase>
  <!--資料庫的預設類型；MSSQL,MYSQL,ORACLE-->
  <Type>MSSQL</Type>
  <!--資料庫若為MSSQL時，你必須設定你的dataSchema；預設為dbo-->
  <DataSchema>dbo</DataSchema>
  <!--資料庫在組合語法時是否區分大小寫；true,false-->
  <!--<Case_Sensitive>true</Case_Sensitive>-->
  <!--是如紀綠SQL語句-->
  <logSQL>false</logSQL>
  <!--以下是系統使用到的資料庫區塊-->
  <!--
    Name ： 為資料庫的視別名稱
	Type ： 為資料庫的類型；MSSQL,MYSQL,ORACLE
	Connection ： 為連接字符串
	注意：一定要有 BASIC 的資料庫區塊組Sample內容如下：
	<DB Name="BASIC"  Type="MSSQL">
		<Connection>Data Source=YourIp\Account;Initial Catalog=Basic;User ID=sa;password=5782266</Connection>
	</DB>
	
	<DB Name="BASIC" Type="ORACLE">
    <Connection>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.11.80.160)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ISTGPD.isti.com.tw)));User Id=TEST;Password=TEST;pooling=false;</Connection>
  </DB>
  
  <Connection>Data Source=10.11.80.166\ISTGPD;Initial Catalog=test_basic;User ID=test_basic;password=test_basic</Connection>
  
  
-->
  <DB Name="BASIC" Type="ORACLE">
    <Connection>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=CANRED)));User Id=cisr;Password=cisr;pooling=false;</Connection>
  </DB>
  <!--以下是系統使用到的錯誤紀綠資料庫區塊-->
  <DB Name="MyException" Type="ORACLE">
    <Connection>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=CANRED)));User Id=cisr;Password=cisr;pooling=false;</Connection>
  </DB>
  <!--以下是系統使用到的動作紀綠資料庫區塊-->
  <DB Name="ActionLog" Type="ORACLE">
    <Connection>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=CANRED)));User Id=cisr;Password=cisr;pooling=false;</Connection>
  </DB>
  <!--以下是系統主要使用的資料庫區塊-->
<DB Name="CISR" Type="ORACLE">
    <Connection>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=CANRED)));User Id=cisr;Password=cisr;pooling=false;</Connection>
  </DB>
  
</DataBase>